In [1]:
import pandas as pd
import json

In [144]:
jobs = pd.read_csv("job_descriptions.csv")

In [145]:
jobs['Company Profile'].isna().sum()

5478

In [146]:
jobs.dropna(inplace=True)

In [147]:
new_columns = ['Sector', 'Industry', 'City', 'State', 'Zip', 'Website', 'Ticker', 'CEO']

['Sector', 'Industry', 'City', 'State', 'Zip', 'Website', 'Ticker', 'CEO']

In [148]:
def add_columns(x):
    try:
        return json.loads(x)
    except json.JSONDecodeError:
        # The row causing the error is always the same with those values, hence I return it directly in a manageable format
        return dict({"Sector":"Construction","Industry":"Engineering & Construction","City":"Houston","State":"Texas","Zip":"77008","Website":"www.quantaservices.com","Ticker":"PWR","CEO":"Earl C. \'Duke\' Austin"})

In [149]:
jobs[new_columns] = jobs['Company Profile'].apply(lambda x: pd.Series(add_columns(x)))

In [150]:
jobs.drop(columns=['Company Profile'], inplace = True)

In [169]:
jobs.head()

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Responsibilities,Company,Sector,Industry,City,State,Zip,Website,Ticker,CEO
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,"Manage and grow social media accounts, create ...",Icahn Enterprises,Diversified,Diversified Financials,Sunny Isles Beach,Florida,33160,www.ielp.com,IEP,David Willetts
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,"Design and code user interfaces for websites, ...",PNC Financial Services Group,Financial Services,Commercial Banks,Pittsburgh,Pennsylvania,15222,www.pnc.com,PNC,William S. Demchak
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,Establish and enforce quality control standard...,United Services Automobile Assn.,Insurance,Insurance: Property and Casualty (Stock),San Antonio,Texas,78288,www.usaa.com,,Wayne Peacock
3,688192671473044,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,...,"Design, configure, and optimize wireless netwo...",Hess,Energy,"Mining, Crude-Oil Production",New York,New York,10036,www.hess.com,HES,John B. Hess
4,117057806156508,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,...,Specialize in conference and convention planni...,Cairn Energy,Energy,Energy - Oil & Gas Exploration & Production,Edinburgh,Scotland,EH2 4NH,https://www.cairnenergy.com/,CNE,Simon Thomson